html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #000000;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 32px;
  color: #ffffff;
}

h2 {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: 24px;
  color: #000000;
}

h3 {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
  color: #404040;
}

.container-fluid {
  z-index: 50;
}

#mainContainer {
  z-index: 500;
  width: auto;
}

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100vh;
  z-index: 100;
}

.menubox {
  position: absolute;
  top: 0;
  left: 0;
  height: 47px;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 300;
  width: 100%;
}

.buttonwhite {
  display: inline;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 20px;
  height: 32px;
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 3px;
  padding-right: 8px;
  background-color: rgba(255, 255, 255, 0.45);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  width: 100px;
}

.buttonwhite:hover {
  background-color: #45ac00;
  color: rgb(0, 0, 0);
}

.buttonwhite:active {
  background-color: #45ac00;
  transform: translateY(2px);
}

.buttonwhitedis {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 20px;
  height: 32px;
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 3px;
  padding-right: 8px;
  background-color: #d42000;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  text-decoration: line-through;
  width: 100px;
}

.buttonwhitedis:hover {
  background-color: #d42000;
  color: white;
}

.buttonwhitedis:active {
  background-color: #d42000;
  transform: translateY(2px);
}

.swalCc {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif !important;
  background-color: rgba(255, 255, 255, 1) !important;
  border-color: #000000;
  border: 1px solid black;
  border-radius: 4px;
}

.swal2-confirm {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 100 !important;
  line-height: 20px !important;
  height: 40px !important;
  width: 140px !important;
  margin-top: 20px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #fff !important;
  cursor: pointer !important;
  background-color: #45ac00 !important;
  border: 1px solid black;
  border-radius: 4px;
}

.swal2-confirm:hover {
  background-color: #45ac00 !important;
}

.swal2-cancel {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 100 !important;
  line-height: 20px !important;
  height: 40px !important;
  width: 140px !important;
  margin-top: 20px !important;
  margin-bottom: 0px !important;
  margin-left: 10px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #fff !important;
  cursor: pointer !important;
  background-color: #45ac00 !important;
  border: 1px solid black;
  border-radius: 4px;
}

.swal2-cancel:hover {
  background-color: #45ac00 !important;
}

div.processing {
  visibility: hidden;
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 800;
  width: 86px;
  height: 86px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid black;
  border-radius: 4px;
}

div.settings {
  visibility: hidden;
  position: absolute;
  top: 66px;
  right: 20px;
  z-index: 800;
  width: 280px;
  height: 49px;
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 10px;
  padding-top: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.box {
  position: relative;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #45ac00;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.glyphicon{
  display: inline;
  margin-right: 6px;
}

.timein {
  display: inline;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
  font-size: 14px;
  font-style: bold;
  line-height: 18px;
  background-color: white;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
padding-left: 5px;
  height: 26px;
  width: 77px !important;
}

.timein:hover {
  background-color: #45ac00;
  color: white;
}

.timein:active {
  background-color: #45ac00;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
}

.formlable {
  padding-right: 15px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26px;
  color: #202020;
  position: relative;
}

.sub {
  display: inline;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
  font-size: 18px;
  font-style: bold;
  line-height: 22px;
  height: 26px;
  width: 26px !important;
  background-color: rgba(255, 255, 255, 0.45);
  color: #45ac00;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
}

.sub:hover {
  background-color: #45ac00;
  color: rgb(0, 0, 0);
}

.sub:active {
  background-color: #45ac00;
  transform: translateY(2px);
}

.fieldwrapper {
  white-space: nowrap;
}

.intime {
  position: relative;
  top: 1px;
  display: inline;
}

#diskspace{
  float: right;
  width: 70px !important;
}

#settings_button {
  float: right !important;
}

#diskspacetext{
  display: inline;
}