/* Search icon by IcoMoon, made with http://icomoon.io/app/ */

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.woff") format("woff"),
    url("../fonts/icomoon/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: 100;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #000000;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 32px;
  color: #ffffff;
}

h2 {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: 24px;
  color: #000000;
}

h3 {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
  color: #404040;
}

p {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
  color: #404040;
}

.container-fluid {
  z-index: 50;
}

#mainContainer {
  z-index: 500;
  width: auto;
}

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100vh;
  z-index: 100;
}

.menubox {
  position: absolute;
  top: 0;
  left: 0;
  height: 47px;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 300;
  width: 100%;
}

.glyphicon{
  display: inline;
  margin-right: 5px;
}

.buttonwhite {
  display: inline;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 20px;
  height: 32px;
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(255, 255, 255, 0.45);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  width: 130px !important;
}

.buttonwhite:hover {
  background-color: #45ac00;
  color: rgb(0, 0, 0);
}

.buttonwhite:active {
  background-color: #45ac00;
  transform: translateY(2px);
}

.buttonwhitedis {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 20px;
  height: 32px;
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #d42000;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  text-decoration: line-through;
  width: 130px !important;
}

.buttonwhitedis:hover {
  background-color: #d42000;
  color: white;
}

.buttonwhitedis:active {
  background-color: #d42000;
  transform: translateY(2px);
}

.swalCc {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif !important;
  background-color: rgba(255, 255, 255, 1) !important;
  border: 1px solid rgb(0, 0, 0) !important;
  border-color: #000000;
}

.swal2-confirm {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 100 !important;
  line-height: 20px !important;
  height: 40px !important;
  width: 140px !important;
  margin-top: 20px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #fff !important;
  border: none !important;
  cursor: pointer !important;
  background-color: #45ac00 !important;
  border: 1px solid rgb(0, 0, 0) !important;
}

.swal2-confirm:hover {
  background-color: #45ac00 !important;
}

.swal2-cancel {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 100 !important;
  line-height: 20px !important;
  height: 40px !important;
  width: 140px !important;
  margin-top: 20px !important;
  margin-bottom: 0px !important;
  margin-left: 10px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #fff !important;
  border: none !important;
  cursor: pointer !important;
  background-color: #45ac00 !important;
  border: 1px solid rgb(0, 0, 0) !important;
}

.swal2-cancel:hover {
  background-color: #45ac00 !important;
}

.swalCc {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif !important;
  background-color: rgba(255, 255, 255, 1) !important;
  border: 1px solid rgb(0, 0, 0) !important;
}

div.processing {
  visibility: hidden;
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 800;
  width: 207px;
  height: 64px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
}

div.settings {
  visibility: hidden;
  position: absolute;
  top: 66px;
  right: 20px;
  z-index: 800;
  width: 280px;
  height: 200px; 
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding-left: 10px;
  padding-top: 10px;
}

.box {
  position: relative;
}

.loader {
  border: 11px solid rgba(0, 0, 20, 0.25);
  border-radius: 50%;
  border-top: 11px solid #45ac00;
  width: 56px;
  height: 56px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

#settings_button{
  float: right;  
}


.pfad:hover {
  background-color: #45ac00;
  color: white;
}

.formlable {
  padding-right: 15px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26px;
  color: #202020;
  position: relative;
}